$mainFont: 'Aleo', serif;
$titleFont:'Red Hat Text', sans-serif;
$logoFont: 'Magra', sans-serif;
$mainSize: 20px; 
$mainSizeM: 9px; 
$H1size: 80px;
$logoSize: 32px; 
$secondarySize: 24px; 
$h2Size: 40px;
$h2SizeM: 14px; 
$h3Size: 35px;
$h3SizeM: 11px;
$ButtonSize: 16px; 
$smallSize: 10px; 
$mainColor: #F2785C;
$blueColor: #0D606F;
$darkBlueColor: #032227;